body {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.buttons {

}

button {
  margin: 10px;
  width: 150px;
  height: 150px;
  font-size: 20px;
}

.computer,.player{
  display: flex;
  font-size: 20px;
  gap: 10px;
}

#final-results{
  font-size: 50px;
}